@{
    ViewData["Title"] = "Home Page";
    
}
@model  IList<ServiceIndex>;

<div class="text-center">
   
    @foreach(var service in Model)
    {
        <p>@service.Title</p>
         <ul>
       @foreach (var action in service.Actions)
       {
           <li><a href='@action.Url'>@action.Title</a></li>
       }
        </ul>
    }
   

</div>
